:root{
    --width:500px;
    --gameWidth: 600px
}

*{margin:0px;
 padding: 0; 
 background-color: black;
}
#game{
    width: var(--gameWidth);
    height: 615px;
    margin: auto;
    /* border: 3px solid black; */
    margin-top: 50px;
    background-color: royalblue;
    background-image: url(./assets/pngtree-neon-grid-landscape-with-80s-retro-wave-game-style-image_1394433.jpeg) ;

}
#btn{
    font-size: 2rem;
    padding: 0.5rem 2rem;
    border: 3px solid black;
    border-radius: 0.3rem;
    margin: 1rem auto;
    display: block;
    background-color: royalblue;

}
#btn:active{
    background-color: red;
}
.slider{
    visibility: hidden;
    background-color: black;
    height: 20px;
    width: 100px;
    border: 1.5px solid  rgb(151, 247, 252);
    position: relative;
}
#slider1{
    visibility: visible;
    background-color: black;
    border: 1.5px solid;
    border-color:rgb(151, 247, 252);
}
.animate{
    animation: slide 4s infinite linear;
}
@keyframes slide{
    0%{ left:0px;}
    50%{ left:var(--width)}
    100%{ left:0px;}
}
#slider27{
    width: 100%;
    text-align: center;
     background-color: transparent; 
     border: none;
    visibility: visible;
    color:grey;
    font-size: 25px;
}
#slider26{
        background-color: transparent;
        border: none;
}
.modal{
    display: none;
    height: 100px;
    width: 250px;
    z-index: 1;
    background-color: white;
    display: block;
    margin: auto;
    position: relative;
    top: -50px
    

}
.modal h1{
    background-color: rgb(31, 12, 199);
    text-align: center;
}
.modal button{
    background-color:rgb(31, 12, 199) ;
    align-items: baseline;
}
#btn2{
    width: 100%;
}

